.section-one {
  min-height: 100vh;
  lost-center: 980px;
}

.section-one>div {
  @media (--medium) {
    lost-column: 1/2;
    height: 100%;
  }
}

.section-one__img {
  padding: 25px;
  @media (--medium) {
    padding: 0;
    lost-align: right flex;
  }
}

.section-one__text {
  @media (--medium) {
    lost-align: left flex;
  }
}

.section-one {
  padding: 35px;
}

.section-one__text-box {
  padding: 25px;
}

.section-two {
  @media (--medium) {
    padding: 0 35px;
    lost-align: center flex;
  }
}

.section-two>div {
  padding: 25px;
  @media (--medium) {
    lost-column: 1/3;
    min-height: 500px;
    lost-align: center flex;
  }
}
