.section-one {
  min-height: 100vh;
  lost-center: 980px;
  lost-align: center;
}

.section-one__content-wrapper {
  lost-column: 1/1;
  height: 100%;
}

.section-one__content-wrapper>div {
  @media (--medium) {
    lost-column: 1/2;
    height: 100%;
  }
}

.section-one__img {
  padding: 25px;
  @media (--medium) {
    padding: 0;
    lost-align: center flex;
  }
}

.section-one__text {
  @media (--medium) {
    lost-align: left flex;
  }
}

.section-one {
  padding: 35px;
}

.section-one__text-box {
  padding: 25px;
}
