@import "imports.scss";

img {
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

.section-one {
  background-color: nippon-color(SHIRONERI);
}

.section-two {
  background-color: nippon-color(RIKYUSHIRACHA);
}
